apiVersion: apps/v1
kind: Deployment
metadata:
  name: lambrk-backend
spec:
  replicas: 5
  template:
    spec:
      containers:
      - name: lambrk-backend
        resources:
          requests:
            memory: "1Gi"
            cpu: "1000m"
          limits:
            memory: "4Gi"
            cpu: "4000m"
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: "prod"
        - name: JAVA_OPTS
          value: "-XX:+UseContainerSupport -XX:MaxRAMPercentage=75.0 -XX:+UseG1GC -XX:MaxGCPauseMillis=200 --enable-preview"
        - name: MANAGEMENT_TRACING_SAMPLING_PROBABILITY
          value: "0.1"
