apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: staging

namePrefix: staging-

resources:
  - ../../base

patchesStrategicMerge:
  - deployment-patch.yaml

replicas:
  - name: lambrk-backend
    count: 2

configMapGenerator:
  - name: lambrk-backend-config
    behavior: merge
    literals:
      - SPRING_PROFILES_ACTIVE=staging

commonLabels:
  environment: staging
